*{
    margin:0%;
    padding: 0%;
    
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

header {
    background-color: #ffffff;
    color: #6b2a2a;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Satisfy", cursive;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 160px;
    display: block;
}

header h1 {
    font-size: 34px;
    margin-top: 10px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #461313;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
    color: #791e1c;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
    width: 80%;
}

.bannerNos {
    background-color: #dee2e7;
    padding: 100px 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    margin-top: 50px; 
    animation: fadeInUp 1s ease-out both;
    font-family: 'Times New Roman', Times, serif;
}


